#forgot_password {
  display: flex;
  flex-direction: column;
  gap: 64px;
  width: 357px;
}
#forgot_password h1 {
  font-size: 44px;
  font-weight: bold;
  letter-spacing: -2.42px;
  text-align: left;
}
#forgot_password div {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
#forgot_password span {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: left;
}
/* #forgot_password label {
  color: #393939;
  letter-spacing: -0.99px;
  font-size: 18px;
  font-weight: bold;
} */
#forgot_password a {
  color: #393939;
  letter-spacing: -0.99px;
  font-size: 18px;
  text-decoration: none;
}
/* #forgot_password input {
  all: unset;
  box-sizing: border-box;
  padding: 20px 18px;
  width: 357px;
  height: 42px;
  border: 1px solid black;
  border-radius: 21px;
  font-size: 18px;
} */
#forgot_password #authBtn {
  margin-top: 8px;
  width: 357px;
  margin-bottom: 38px;
  font: normal normal bold 16px/19px Lato;
}
