#reset_password {
  display: flex;
  flex-direction: column;
  gap: 64px;
  width: 357px;
}
#reset_password h1 {
  font-size: 44px;
  font-weight: bold;
  letter-spacing: -2.42px;
  text-align: left;
}
#reset_password div {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
#reset_password span {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: left;
}
#reset_password label {
  color: #393939;
  letter-spacing: -0.99px;
  font-size: 18px;
  font-weight: bold;
}
#reset_password a {
  color: #393939;
  letter-spacing: -0.99px;
  font-size: 18px;
  text-decoration: none;
}
#reset_password input {
  all: unset;
  box-sizing: border-box;
  padding: 20px 18px;
  width: 357px;
  height: 42px;
  border: 1px solid black;
  border-radius: 21px;
  font-size: 18px;
}
#reset_password #authBtn {
  margin-top: 8px;
  width: 357px;
  font: normal normal bold 16px/19px Lato;
  margin-bottom: 18px;
}
#reset_password span:nth-child(2) {
  margin-bottom: 33px;
}
