#search_card {
  display: flex;
  height: 153px;
  gap: 18px;
  max-width: 100%;
  margin-bottom: 48px;
}
#search_card #event_info {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: flex-start;
  justify-content: space-evenly;
}
#search_card #event_name_location {
  width: 66rem;
  overflow: visible;
  height: 45px;
}
#search_card #details {
  margin-top: 11px;
  width: 683px;
  height: 56px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#search_card #bottom_card {
  width: 66rem;
}
#search_results {
  display: flex;
  flex-direction: column;
  gap: 38px;
}
#search_results h1 {
  font-size: 44px;
  letter-spacing: -2.42px;
}
#search_card #event_name_location p:nth-child(1) {
  font-size: 37px;
  font-weight: bold;
  letter-spacing: -2.04px;
}
#search_card #bottom_card {
  height: 47px;
}
#search_card #bottom_card button {
  margin-top: 1.2rem;
}
