#user_details {
  max-width: 521px;
  display: flex;
  flex-direction: column;
  gap: 79px;
}
#user_prof_top {
  display: flex;
  gap: 39px;
}
#user_inputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#user_details span {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.previewProfile {
  height: 96px;
  width: 96px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}
#user_profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
#fileInput {
  position: relative;
  width: 128px;
  height: 42px;
  border: 1px solid black;
  border-radius: 20px;
  color: #ff48ab;
  text-align: center;
  box-sizing: border-box;
  padding: 10px 0;
  letter-spacing: -0.88px;
  font-size: 16px;
}
#fileInput input[type="file"] {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  opacity: 0;
}
#user_details input::file-selector-button {
  width: 128px;
  height: 42px;
  cursor: pointer !important;
  border-radius: 20px;
}
.userSubmit {
  all: unset;
  width: 128px;
  height: 42px;
  background-color: black;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  font-family: "Lato";
  font-size: 16px;
  text-align: center;
}
#user_pass #user_pass_top {
  display: flex;
  gap: 198px;
  align-items: center;
}
#user_pass div:nth-child(1) button {
  all: unset;
  font-family: "Lato";
  height: 42px;
  width: 229px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: 20px;
  color: white;
  background-color: #ff48ab;
  letter-spacing: -0.88px;
  cursor: pointer;
}
#user_pass div:nth-child(1) p {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -1.32px;
}
#changePassword {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
#changePassword div {
  display: flex;
  gap: 25px;
}
#changePassword div .inputField {
  width: 248px;
}
#user_pass {
  display: flex;
  flex-direction: column;
  gap: 29px;
}
