#event_card {
  display: flex;
  gap: 1rem;
  border: dotted red 2px;
  margin-bottom: 3rem;
}
#event_picture {
  width: 16.188rem;
  height: 9.563rem;
  border-radius: 1.25rem;
  background-size: cover;
  background-repeat: no-repeat;
}
#event_info p:nth-child(1) {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: -1.32px;
}

#event_info p:nth-child(2) {
  font-size: 1.125rem;
  font-weight: bold;
  color: #ff48ab;
}

#details {
  width: 18.5rem;
  height: 3.5rem;
}

#event_info #details p {
  width: 18.5rem;
  height: 3.5rem;
  font-size: 0.875rem;
  letter-spacing: -0.77px;
}

#bottom_card {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#bottom_card p:nth-child(1) {
  font-size: 0.875rem;
  letter-spacing: -0.77px;
}
#getTickets {
  offset: all;
  padding: 0.5rem 2rem;
  width: max-content;
  box-sizing: border-box;
  background-color: black;
  border: none;
  border-radius: 10px;
}
#getTickets a {
  height: 1rem;
  width: 4.5rem;
  text-decoration: none;
  font-size: 0.875rem;
  letter-spacing: -0.77px;
  color: white;
}
